{% extends "base.html" %} {% block content %}

<div
  class="d-xl-flex justify-content-center align-items-center"
  style="height: 100vh"
>
  <form action="." method="post" class="card border-dark p-4">
    <div class="input-group mb-3">
      <span class="input-group-text">@</span>
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="id_username"
          placeholder="Nome de Usuário"
        />
        <label for="floatingInputGroup1">Nome de Usuário</label>
      </div>
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text">@</span>
      <div class="form-floating">
        <input
          type="password"
          class="form-control"
          id="id_password"
          placeholder="Senha"
        />
        <label for="floatingInputGroup1">Senha</label>
      </div>
    </div>
    <div class="input-group">
      <button type="submit" class="btn btn-outline-primary w-100">
        Entrar
      </button>
    </div>
  </form>
</div>

{% endblock content %}
